.vtl{width:202px},.vtr{width:202px}
.vt .f{border-color:#ddd}
.vtc{width:540px;_width:530px;margin:0 8px}
#express{height:418px}
.vc{border:#B9D0F0 1px solid;_width:538px;height:200px;margin:0 0 6px}
.vc .a a{color:#333;text-align:left;padding:0 5px;width:45px}
.vc .a a:hover{color:#5B8ECF}
/*下面ie6如果不写前面.vc .a a，就会出现bug*/
.vc .a a.vcl{width:227px}.vc .a a.vcc{width:180px}
/*暂时没有那么多v2，所以暂时为了美观首页v0用 v2色*/
.vip0,.vip1,.vip2,.vip3{background:url(http://localhost/www.v-get.com/tu/g.gif) 0 -175px no-repeat}

.vip1{background-position:0 -150px}
.vip3{background-position:0 -190px}
.vcn{background:#E4EFFF;height:29px;overflow:hidden}
.vcn a{height:29px;line-height:29px}
/*li未来自动传递高度，所以不能使用border*/
.vc li,.vc li a{height:26px;line-height:26px;_height:28px;overflow:hidden}
.vc li{border-bottom:#ddd 1px dashed}
.vcm{height:162px;overflow:hidden}
*+html .vc li,*+html .vc li a{height:24px;line-height:24px}
*+html .vcm{height:171px}













.b {margin:9px 0;text-align:center;color:#666}
.bt a {margin:0px 14px}
.b p {line-height:30px}
#z{display:none;width:100%;height:100%;position:absolute;top:0;left:0;filter:progid:DXImageTransform.Microsoft.Alpha(style=3,opacity=25,finishOpacity=75);opacity:0.5;z-index:8;background:#ccc;}