

/* 友情链接/网站地图 */
.lka a{width:99px;height:30px;line-height:30px;background:#eee}
.lka a:hover{font-weight:600;color:#333}
.lka a.lko{background:#FFF;font-weight:600}
.lki a{width:223px;padding:15px 0;height:40px;border-bottom:1px dashed #ccc}
.lk3{margin:15px 0 50px 0;border:1px dotted #CCC;background:#F9F9F9;padding:15px}
.lk3 a{text-align:right;line-height:30px;width:84px;padding:0 3px}
.lk3 a:hover{text-decoration:none;color:#666}
.lk3 .lk3t{text-align:left;font-size:14px;font-weight:800;}
.lk3 .lk3r{color:#4BA733;text-align:left}
.lk3 .lk3n{font-weight:800;}
.lk4 {color:#333;font:normal 14px "微软雅黑"}
.lk4 h3{font-size:14px}
.lk4 h3 a{color:#3074B5}
.lk4 p,.lk4 textarea{margin:0 0 0 20px;width:620px}
.lk4 p{font-weight:600;margin:20px 0 0 20px;line-height:25px}


.r4 .ai img{width:90px;height:60px;margin:9px 0 0 0}
.r4 .ai p{width:185px;line-height:25px;margin:9px 9px 0 0}
.r4 .ai p:hover{color:#4BA733;text-decoration:underline}
.r5 li{background-position:0 -1350px;}
.rfa{padding:3px;font-size:12px}
.rfa h4{font:14px Arial;color:#333;text-indent:9px}
.rfa .a a{width:135px;margin:0 0 0 9px;text-align:left;color:#666}
.rfa .a a:hover{color:#4BA733}


.r6 .ai img{width:90px;height:60px;margin:0 9px}
.r6 .ai p{font-size:12px;width:175px;margin:0 9px 0 0}

