input{box-sizing:border-box}.ws{margin:0 9px 0 20px}
.ts{height:25px;line-height:25px}
.skw,.ssw,#ss{background:url(http://localhost/www.v-get.com/tu/s.png) no-repeat;vertical-align:top;}
.skw{width:533px;height:30px;display:inline-block;margin:0 5px 0 0;background-position:-304px 0;border:1px solid #b6b6b6;border-color:#7b7b7b #b6b6b6}
.sk{width:520px;height:22px;border:0;font:16px/22px arial;margin:5px 0 0 7px;background:#FFF;outline:0;-webkit-appearance:none;}
.ssw{width:97px;height:34px;display:inline-block;background-position:-202px 0;z-index:0;}
#ss{width:95px;height:32px;font-size:14px;border:0;cursor:pointer}
.v{width:950px}
.l{width:640px}
#c h2{}
#c h2{height:25px;line-height:25px;margin:9px 0 0;font-family:"微软雅黑"}
#c h2 a{color:#08F}
#c h2 i{font-size:10px;font-weight:400;margin:0 9px}
#c p{line-height:25px;margin:0 9px 0 0;padding:0 0 9px 0;border-bottom:1px dashed #ddd;}
.r{width:300px}