<div id="qmenu_menu" class="p_pop {if !$_G['uid']}blk{/if}" style="display: none;">
	<!--{hook/global_qmenu_top}-->
	<!--{if $_G['uid']}-->
		<ul class="cl nav"><li><a href="http://e.v-get.com/i/home.php?mod=space&amp;do=friend" style="background-image:url(http://e.v-get.com/i/static/image/feed/friend_b.png) !important" class="">好友</a></li>
<li><a href="http://e.v-get.com/i/{$_G[member][username]}" style="background-image:url(http://e.v-get.com/i/static/image/feed/thread_b.png) !important" target="_blank">主页</a></li>
<li><a href="http://e.v-get.com/i/home.php?mod=space&amp;do=favorite&amp;view=me" style="background-image:url(http://e.v-get.com/i/static/image/feed/favorite_b.png) !important">收藏</a></li>
<li><a href="http://e.v-get.com/i/home.php?mod=magic" style="background-image:url(http://e.v-get.com/i/static/image/feed/magic_b.png) !important">道具</a></li>
<li><a href="http://e.v-get.com/i/home.php?mod=medal" style="background-image:url(http://e.v-get.com/i/static/image/feed/medal_b.png) !important">勋章</a></li>
<li><a href="http://e.v-get.com/i/home.php?mod=task" style="background-image:url(http://e.v-get.com/i/static/image/feed/task_b.png) !important">任务</a></li>
</ul>
	<!--{elseif $_G[connectguest]}-->
		<div class="ptm pbw hm">
			{lang connect_fill_profile_to_visit}
		</div>
	<!--{else}-->
		<div class="ptm pbw hm">
			{lang my_nav_login}
		</div>
	<!--{/if}-->
	<!--{if $_G['setting']['showfjump']}--><div id="fjump_menu" class="btda"></div><!--{/if}-->
	<!--{hook/global_qmenu_bottom}-->
</div>