.c3 li,.cct li{background:url(http://localhost/www.v-get.com/tu/g.gif) no-repeat}

.c{padding:30px 15px; background:url(http://localhost/www.v-get.com/tu/b/bd06b.gif) repeat-x}
.c table{margin:25px;width:831px}
.c3{font-size:14px}
.c3 h3{font:bold 18px "微软雅黑","黑体";height:32px;line-height:32px;margin:9px}
.c3 li{padding:0 35px;height:28px;line-height:28px;font:normal 14px "微软雅黑","黑体";background-position:20px -1628px}
.cc{margin:0 25px}
.cc p{text-indent:25px}
.cct{margin:0 25px}
.cct li{background-position:5px -1401px;padding:0 16px}
.ccc{margin:15px 25px;background:#eee;padding:15px;border:#ccc 1px solid}
.cc a{color:#06C}
.cp,.cp th,.cp td{border-color:#DFB688}
.cp th{background:#FAE6CE}
.cp td{background:#FCF2E8}
.cp td .f0{font-weight:700;color:#C00}
.c5{color:#555}
.c5 strong{font:normal 16px "微软雅黑","黑体";margin:0 15px 0 20px;color:#F60}
.c .ce{width:880px}
.ce th,.ce td{border-color:#fff}
.ce th{background:#38D;color:#fff}
.ce td{background:#EBF4F9;color:#666}
.ce2 th{background:#F60}
.ce3 th{background:#3d9100}
.ce4 th{background:#d80523}