@charset "UTF-8";
*{margin:0;padding:0;}
body {font:12px/1.125 Arial,Helvetica,sans-serif;color:#000;background:fff}
ul{list-style-position:outside;list-style-type:none}
ul li{list-style:none}
li,.a a,.al li{line-height:22px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;-o-text-overflow:ellipsis;_width:100%}
p{line-height:22px;}
a{color:#06c;text-decoration:none;cursor:pointer}a:hover{text-decoration:underline}
img,fieldset{border:none}fieldset{display:block;border-top:#d9d9d9 1px solid} select,input,img{vertical-align:middle}textarea{resize:none}
dt,dd{float:left;display:inline-block;overflow:hidden;line-height:18px}
table{border:#E9E9E9 1px solid;font-size:12px;border-collapse:collapse;width:100%}tr{line-height:22px}th,td{border-right:1px solid #E9E9E9;border-bottom:1px solid #E9E9E9;padding:3px 5px}
h1 {font:bold 20px/35px "微软雅黑";color:#000}
.u h1{display:none}
h2{font-size:14px}
h3,h4{font-size:12px}
h4{position:relative;height:32px;line-height:32px}
h4,.a,.al{display:block}.h4r{font-weight:400;font-family:Verdana,Arial,"宋体"}
h4 a:hover,.a a{text-decoration:none}
.a a,.al li{display:inline-block;float:left;text-align:center;}
.a a,.al li,.fh,.fh li{overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
.p{float:left}.o{clear:both}.q{float:right}
.fo{text-align:center}.fq{text-align:right}
.ph{overflow:hidden;}.po{position:relative}.pr{position:absolute;right:0;top:0;}
.f,.ff{border:#d9d9d9 1px solid;}
.ff{border-radius:5px;-moz-box-shadow:0 1px 3px #d9d9d9;-webkit-box-shadow:0 1px 3px #d9d9d9;box-shadow:0 1px 3px #d9d9d9}:root .ff{filter:progid:DXImageTransform.Microsoft.Shadow(color=#d9d9d9,direction=120,strength=2)}
.f0,a.f0{color:#f00}.f1{color:#080}.f2{color:#00f}.f3,a.f3{color:#c00}.f6{color:#f60}.f7{color:#999}.f8={color:#8000ff}.f9{color:#333}.f12{color:#069}.f13{color:#933}
.mf{margin:9px 25px}.mb{margin-bottom:6px}.mg{margin-bottom:9px}.mh{height:9px}.mr{margin-right:15px}.ml{margin-left:15px}
.mt{height:32px;*height:0}
.mo{width:45px}
.w {margin:0px auto;overflow:hidden;width:960px}
#e{position:absolute;background:#fff;border:#ccc 1px solid;width:420px;height:300px;z-index:99;display:none;color:#333}#e a{color:#03C;margin:0 15px}.et{height:35px;line-height:35px;background:#fcfcfc;border-bottom:#F2F2F2 1px solid;cursor:move}.et .p{margin:0 20px;font-weight:700;font-size:14px;}.et .q{background:url("http://weigeti.com/i0/p.gif") 0 -456px no-repeat;margin:10px;width:14px;height:13px;cursor:pointer}.et .q:hover{background-position:0 -481px}#e form{margin:20px}#e form div{height:48px;line-height:48px}#e label{font-size:14px;margin:0 9px 0 33px}.es{background:url("http://weigeti.com/i0/f.gif") 0 -450px repeat-x;width:250px;padding:5px 6px;border:#ccc 1px solid;font-size:12px;height:20px}#e form .er{padding:0 0 0 71px;height:16px;line-height:16px}#e form .eb{padding:0 0 9px 71px;margin:9px 0 9px 0;border-bottom:#ddd 1px dotted}.eb input{background:url("http://weigeti.com/i0/f.gif") 0 -480px repeat-x;width:99px;height:32px;padding:0 0 3px 0;border:#4388cd solid;border-width:0 1px;border-radius:2px;color:#fff;font-size:14px;cursor:pointer}.eb input:hover{background-position:0 -515px}#eb{background:#000;width:100%;height:100%;position:fixed;top:0;left:0;z-index:98;opacity:0.3;filter:Alpha(opacity=30)}


#z{width:110px;top:160px;right:0;position:fixed;border:1px solid #dfdfdf;background:#fff}
#z a{text-decoration:none}
.zo{position:absolute;top:1px;right:1px;width:12px;height:12px;line-height:12px;font-size:10px;display:block;overflow:hidden;text-align:center;background-position:0 -57px;cursor:pointer;color:#fff}
a.zo:hover{background-position:0 -82px}
#z dl{text-align:center;padding:20px 0;background:url(http://weigeti.com/i0/z.gif) 0 100% repeat-x;margin:0 5px}
#z dt{line-height:25px;color:#666}
#z dd .zd{line-height:21px}
#z dd .z6{font:700 14px /21px Arial;color:#ff8a00}
#z dd .zs{margin:8px auto 0;background-position:0 -64px;width:83px;height:20px;line-height:20px;display:block;color:#666;border:#B8D6E7 1px solid;border-radius:3px}
#z dt{line-height:19px;height:19px;background-position:0 -150px;margin:0 0 0 5px;font-weight:700;padding-left:5px}
#z dl.zt dt{line-height:24px;height:24px;background-position:0 -125px}