#t .po{color:#333;height:28px;line-height:28px;background:#FAFAFA;border-bottom:1px solid #EEE;padding:0 9px}
#t span{position:absolute;right:9px;top:0}
#t .po a{color:#178FD4}
#t .po i{margin:0 5px}
.wt .wti,.wt a.wti:hover{width:65px;background:url(http://localhost/tu.v-get.com/i72x23.png) 0 5px no-repeat}
.w{background:#FFF;padding:0 10px}
.i{background:url(http://localhost/www.v-get.com/tu/3/i.gif) no-repeat;width:234px;height:60px}
.ss{background:url(http://localhost/www.v-get.com/tu/g.gif) no-repeat}
.g{margin:17px 9px 0}
.s{margin:5px 0;border:#1996e6 3px solid;border-radius:5px;height:36px;width:332px;color:#666}
.s form{padding:9px 15px 0 10px}
.s label{margin:0 9px 0 5px}
.s .p{padding-top:2px}
.s .q{border:#BCBEC0 1px solid;height:18px;width:200px}
.s .q .sk{border:none;background:none;width:183px}
/*采用18px时为了少写margin-bottom*/
.s .ss{border:none;background-position:0 -1978px;cursor:pointer;height:18px;width:16px}


.wv{height:43px}
.wvl{width:145px;background:#f00}
.wvl img{width:145px;height:43px}
.wvr{width:809px;height:31px;padding:5px 0;color:#666}
.wvr p{line-height:16px;height:16px}
.wvr a{padding:0 10px;}