a{color:#4BA733}
.wt,.wt .wto,.wt a:hover{background-position:0 -596px}

.u {margin:9px auto;_margin:0 0 9px;height:90px;position:relative}
.u a{color:#000}
#au{width:728px;position:absolute}

/*chrome 等 webkit浏览器对10px字体无效，只有添加禁止浏览器字体调整-webkit-text-size-adjust:none;就行了*/
.i{height:90px;width:250px;_width:226px;font-size:10px;-webkit-text-size-adjust:none;font-family:Tahoma}

.il{margin:26px 0;background:url(http://localhost/www.v-get.com/tu/i.gif);width:125px;height:38px;}
/*主页“商务物流网”要用到font-size:14px*/
.ir{margin:26px 6px;padding:7px 9px;color:#888888;background:url(http://localhost/www.v-get.com/tu/f.png) 0 -372px no-repeat;}
.ir p{height:12px;line-height:12px}
