BODY {
	TEXT-ALIGN: center; PADDING-BOTTOM: 0px; LINE-HEIGHT: 150%; MARGIN: auto; PADDING-LEFT: 0px; WIDTH: 100%; PADDING-RIGHT: 0px; BACKGROUND: url(bg.gif); FONT-SIZE: 12px; PADDING-TOP: 0px
}
A {
	TEXT-DECORATION: none
}
A:link {
	COLOR: #226C8A
}
A:visited {
	COLOR: #79628e
}
A:hover {
	COLOR: #ff0000
}
.title A:active {
	COLOR: #79628e
}
.title A:link {
	COLOR: #ffffff
}
.title A:visited {
	COLOR: #ffffff
}
.title A:hover {
	COLOR: #ff0000
}
.title A:active {
	COLOR: #ffffff
}
A.bottom:link {
	COLOR: #ffffff
}
A.bottom:visited {
	COLOR: #ffffff
}
A.bottom:hover {
	COLOR: #ff0000
}
A.bottom:active {
	COLOR: #ffffff
}
TR {
	TEXT-ALIGN: center; LINE-HEIGHT: 20px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; COLOR: #555555; FONT-SIZE: 12px; WORD-BREAK: break-all
}
.project_left LI {
	LIST-STYLE-TYPE: none; COLOR: #455995
}
.project LI {
	LIST-STYLE-TYPE: none; COLOR: #455995
}
.input_form {
	BORDER-BOTTOM: #9bbedd 1px solid; BORDER-LEFT: #88aaaa 1px solid; FONT-FAMILY: verdana; HEIGHT: 19px; COLOR: #50576b; BORDER-TOP: #88aaaa 1px solid; BORDER-RIGHT: #9bbedd 1px solid
}
.submit_button {
	BORDER-BOTTOM: #9c9c9c 1px solid; BORDER-LEFT: #9c9c9c 1px solid; FONT: 12px ו; BACKGROUND: url(Button_Bg.gif) repeat-x; HEIGHT: 19px; COLOR: #000000; BORDER-TOP: #9c9c9c 1px solid; BORDER-RIGHT: #9c9c9c 1px solid; PADDING-TOP: 1px
}
.colspan {
	BORDER-BOTTOM: #226C8A 1px solid; BORDER-LEFT: #226C8A 1px solid; PADDING-BOTTOM: 1px; MARGIN: auto auto 4px; PADDING-LEFT: 1px; WIDTH: 780px; PADDING-RIGHT: 1px; BORDER-TOP: #226C8A 1px solid; BORDER-RIGHT: #226C8A 1px solid; PADDING-TOP: 1px
}
.title {
	TEXT-ALIGN: center; PADDING-BOTTOM: 0px; LINE-HEIGHT: 27px; MARGIN: 0px; PADDING-LEFT: 0px; WIDTH: 780px; PADDING-RIGHT: 0px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND: url(Title_Bg.gif); COLOR: #ffffff; FONT-SIZE: 12px; PADDING-TOP: 0px
}
.project_left {
	BORDER-BOTTOM: #d6d6d6 1px solid; TEXT-ALIGN: center; BORDER-LEFT: #d6d6d6 1px solid; PADDING-BOTTOM: 0px; LINE-HEIGHT: 24px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND: url(Progect_Bg.gif); COLOR: #455995; FONT-SIZE: 12px; BORDER-TOP: #ffffff 1px solid; BORDER-RIGHT: #d6d6d6 1px solid; PADDING-TOP: 0px
}
.project {
	BORDER-BOTTOM: #d6d6d6 1px solid; TEXT-ALIGN: center; BORDER-LEFT: #ffffff 1px solid; PADDING-BOTTOM: 0px; LINE-HEIGHT: 24px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND: url(Progect_Bg.gif); COLOR: #455995; FONT-SIZE: 12px; BORDER-TOP: #ffffff 1px solid; BORDER-RIGHT: #d6d6d6 1px solid; PADDING-TOP: 0px
}
.rank_left {
	BORDER-BOTTOM: #d6d6d6 1px solid; TEXT-ALIGN: center; BORDER-LEFT: #d6d6d6 1px solid; PADDING-BOTTOM: 0px; LINE-HEIGHT: 24px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; COLOR: #555555; FONT-SIZE: 12px; BORDER-TOP: #ffffff 1px solid; BORDER-RIGHT: #d6d6d6 1px solid; PADDING-TOP: 0px
}
.rank {
	BORDER-BOTTOM: #d6d6d6 1px solid; TEXT-ALIGN: center; BORDER-LEFT: #ffffff 1px solid; PADDING-BOTTOM: 0px; LINE-HEIGHT: 24px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; COLOR: #555555; FONT-SIZE: 12px; BORDER-TOP: #ffffff 1px solid; BORDER-RIGHT: #d6d6d6 1px solid; PADDING-TOP: 0px
}
.data {
	TEXT-ALIGN: center; PADDING-BOTTOM: 0px; LINE-HEIGHT: 22px; MARGIN: 0px; PADDING-LEFT: 0px; WIDTH: 780px; PADDING-RIGHT: 0px; BACKGROUND: url(Data_Bg.gif) repeat-x; COLOR: #555555; FONT-SIZE: 12px; PADDING-TOP: 0px
}
#text_ad {
	PADDING-BOTTOM: 4px; MARGIN: auto; PADDING-LEFT: 0px; WIDTH: 784px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
#pic_ad {
	PADDING-BOTTOM: 4px; MARGIN: auto; PADDING-LEFT: 0px; WIDTH: 784px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.ad_td {
	TEXT-ALIGN: center; LINE-HEIGHT: 20px; BACKGROUND-COLOR: #f2f2f2; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; COLOR: #555555; FONT-SIZE: 12px; WORD-BREAK: break-all
}
#trans_news {
	FILTER: dropshadow(color=#ffffff, offx=1, offy=1, positive=1); LETTER-SPACING: 4px; COLOR: #0000ff
}
#other_cookie {
	WIDTH: 110px; FLOAT: left
}
#yours_cookie {
	WIDTH: 110px; FLOAT: right
}
.cookie_title {
	TEXT-ALIGN: center; PADDING-BOTTOM: 0px; LINE-HEIGHT: 27px; MARGIN: 0px; PADDING-LEFT: 0px; WIDTH: 100%; PADDING-RIGHT: 0px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND: url(Title_Bg.gif); COLOR: #ffffff; FONT-SIZE: 12px; PADDING-TOP: 0px
}
.cookie_content {
	TEXT-ALIGN: center; PADDING-BOTTOM: 0px; LINE-HEIGHT: 27px; MARGIN: 0px; PADDING-LEFT: 0px; WIDTH: 100%; PADDING-RIGHT: 0px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND: url(Data_Bg.gif); COLOR: #ffffff; FONT-SIZE: 12px; PADDING-TOP: 0px
}
#view_pic {
	PADDING-BOTTOM: 4px; PADDING-LEFT: 4px; WIDTH: 210px; PADDING-RIGHT: 4px; FLOAT: left; HEIGHT: 155px; PADDING-TOP: 4px
}
.view_compare_pic {
	WIDTH: 154px; FLOAT: left; HEIGHT: 155px; PADDING-TOP: 5px
}
#site_intro {
	PADDING-BOTTOM: 4px; PADDING-LEFT: 4px; WIDTH: 210px; PADDING-RIGHT: 4px; FLOAT: right; HEIGHT: 155px; PADDING-TOP: 4px
}
#other_tool {
	PADDING-BOTTOM: 4px; PADDING-LEFT: 4px; WIDTH: 780px; PADDING-RIGHT: 4px; HEIGHT: 155px; PADDING-TOP: 4px
}
.DoubleColorTable {
	BACKGROUND: url(DoubleColorTable_bg.gif)
}
#rank1 {
	PADDING-TOP: 3px
}
#rank2 {
	PADDING-TOP: 3px
}
#rank3 {
	PADDING-TOP: 3px
}
#rank4 {
	PADDING-TOP: 3px
}
#rank5 {
	PADDING-TOP: 3px
}
#bottom {
	PADDING-BOTTOM: 0px; MARGIN: 0px 0px 4px; PADDING-LEFT: 0px; WIDTH: 100%; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.bottom_title {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; WIDTH: 100%; PADDING-RIGHT: 0px; BACKGROUND: url(Title_Bg.gif); HEIGHT: 12px; PADDING-TOP: 0px
}
.bottom_nav {
	BORDER-BOTTOM: #d6d6d6 1px solid; TEXT-ALIGN: center; BORDER-LEFT: #d6d6d6 1px solid; LINE-HEIGHT: 24px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND: url(Progect_Bg.gif); COLOR: #455995; FONT-SIZE: 12px; BORDER-TOP: #ffffff 1px solid; BORDER-RIGHT: #d6d6d6 1px solid
}
.copyrights {
	TEXT-ALIGN: center; LINE-HEIGHT: 24px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; COLOR: #555555; FONT-SIZE: 12px
}
.help_title {
	BORDER-BOTTOM: #d6d6d6 1px solid; TEXT-ALIGN: center; BORDER-LEFT: #d6d6d6 1px solid; PADDING-BOTTOM: 0px; LINE-HEIGHT: 24px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND: url(Progect_Bg.gif); COLOR: #455995; FONT-SIZE: 12px; BORDER-TOP: #ffffff 1px solid; BORDER-RIGHT: #d6d6d6 1px solid; PADDING-TOP: 0px
}
.help_name {
	BORDER-BOTTOM: #d6d6d6 1px solid; TEXT-ALIGN: center; BORDER-LEFT: #d6d6d6 1px solid; PADDING-BOTTOM: 0px; LINE-HEIGHT: 24px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; COLOR: #555555; FONT-SIZE: 12px; BORDER-TOP: #ffffff 1px solid; BORDER-RIGHT: #d6d6d6 1px solid; PADDING-TOP: 0px
}
.help_content {
	BORDER-BOTTOM: #d6d6d6 1px solid; TEXT-ALIGN: left; BORDER-LEFT: #ffffff 1px solid; PADDING-BOTTOM: 10px; LINE-HEIGHT: 24px; MARGIN: 0px; PADDING-LEFT: 10px; WIDTH: 650px; PADDING-RIGHT: 10px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; COLOR: #555555; FONT-SIZE: 12px; BORDER-TOP: #ffffff 1px solid; BORDER-RIGHT: #d6d6d6 1px solid; PADDING-TOP: 10px
}
.help_question {
	BORDER-BOTTOM: #d6d6d6 1px solid; TEXT-ALIGN: left; BORDER-LEFT: #d6d6d6 1px solid; PADDING-BOTTOM: 15px; LINE-HEIGHT: 24px; MARGIN: 0px; PADDING-LEFT: 15px; PADDING-RIGHT: 15px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; COLOR: #555555; FONT-SIZE: 12px; BORDER-TOP: #ffffff 1px solid; BORDER-RIGHT: #d6d6d6 1px solid; PADDING-TOP: 15px
}
