<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>10.0.1 Sharps.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>008F89BB1C91C0E1007D6B25</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>008F89CF1C91C0E1007D6B25</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>008F89DA1C91C0E1007D6B25</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
