#na a{width:67px}
a{color:#0078b6}

.ci .f{float:left;margin:3px;width:214px;height:53px;padding:9px}
.ci .f:hover{background:#f7f7f7}
.ci a.ai h3{width:145px;font-size:14px}
.ci .ai img{border-color:#ccc;width:50px;height:50px}
.ci h3 i{background-image: url(http://tu.v-get.com/g.gif); display:inline-block;width: 16px; height: 16px; background-position: 0px -178px; background-repeat: no-repeat no-repeat;}
.ci a.ai p{width:145px}
.cis label{margin:0 4px}
.cis a{padding:0 5px}
.cis select{height:25px;margin:0 0 0 15px;padding:3px 2px 2px;border:1px solid #c6c6c6;box-shadow:1px 1px 0 0 #F0F0F) inset;color:#666}
.cisk{margin:0 9px;width:200px;border:1px solid #c6c6c6;-webkit-box-shadow:1px 1px 0 0 #f0f0f0 inset;vertical-align:top;height:23px;height:18px\9;padding:0 0 0 2px;padding:4px 0 0 2px\9;color:#666;-moz-box-shadow:1px 1px 0 0 #f0f0f0 inset;}
.ciss{padding:0 10px 0 8px;min-width:37px;border:1px solid #4EC000;border-radius:2px;background:#89D900;height:24px;line-height:23px;line-height:24px\9;color:#fff;cursor:pointer;width:57px}
.ciss:hover{background:#96DC26;border-color:#53CD00}
.cis #cs{position:relative}