*{padding:0;margin:0}
body {background:#fff;font-size:12px;width:100%;font-family:arial,"宋体";background:url(http://weigeti.com/p0/3b.jpg) #fff repeat-x}
ul{list-style-position:outside;list-style-type:none}
ol{list-style-position:inside}
li{white-space:nowrap;overflow:hidden}
li,a{cursor:pointer}
select,input,img{vertical-align:middle}
a{color:#1C3D72; text-decoration:none}
a:hover{color:#c00;text-decoration:underline}
img {border-width:0}
.p{float:left}.o,#an,#n,#ab{clear:both}.q{float:right}
.f{border:#ddd 1px solid;border-radius:5px;-moz-box-shadow:2px 2px 10px #ddd;-webkit-box-shadow:2px 2px 10px #ddd;box-shadow:2px 2px 10px #ddd;}
:root .f{filter:progid:DXImageTransform.Microsoft.Shadow(color=#ddd,direction=120,strength=4);}
.f1{color:#f00}.f2{color:#080}.f3{color:#00c}.f6{color:#f60}
dt,dd{ float:left;display:inline-block}
.ns,.lw h5,.df a,.cs,.ss,.cw h2,.ch,.cct{background:url(http://weigeti.com/p0/3c.png)}
.l3 li,.iu2 li,.iu8 li,.iu9 li,#ar1 li{background:url(http://weigeti.com/p0/li.png) no-repeat;padding-left:20px}
.u {margin:23px auto 9px}
.w {width:960px;overflow:hidden;margin:0px auto}
.u a{color:#000}
.i{background:url(http://weigeti.com/p0/i3winter.jpg);width:390px;height:66px}
h1{display:none}
#n{background:#07c;height:30px;line-height:30px;font-size:14px}
#n .w{border-left:1px solid #fff;}
#n a{display:inline;float:left;width:79px;text-align:center;border-right:1px solid #fff;color:#fff;text-decoration:none}
#n a:hover,.no{background:#F76E2A}
.ns{background-position:0 -60px;width:240px;height:28px;text-align:right}
.ns input{border:none;background:none;height:15px;margin:6px 9px;}
.nsk{width:120px}.nss{width:39px}
#m{height:35px;line-height:33px;background:#F4F5FE;color:#666;font-family:"宋体"}
#m strong{color:#FFB401;font-size:20px;font-weight:400;margin-right:9px;font-family:"微软雅黑"}
#m a{color:#666;text-decoration:none;padding:0 5px}
#m a:hover{color:#FFB401}
#m .q{height:22px;padding-top:10px}
.l,.r{margin:3px 0 9px;overflow:hidden}
.l {width:250px}
.lw{margin-top:9px;overflow:hidden}
.d{width:240px;padding:4px;overflow:hidden;position:relative; height:232px;cursor:pointer;border-color:#3091F2}
#dc{height:214px;overflow:hidden}
#d li{line-height:214px;height:214px}
.d img{width:238px;height:215px;border:solid 1px #CCE6FF}
.df{position:absolute;left:3px;bottom:3px;z-index:18;text-align:center}
.df a{float:left;overflow:hidden;margin:0 1px;width:138px;height:16px;line-height:16px;border:#3091F2 1px solid;background:#DFEDFE}
*html .df a{width:136px;}
#do a {width:16px;z-index:8;color:#999; font-weight:800}
#do .do{background:none;color:#3091F2}
.d a:hover {text-decoration:none}
#dk,.db {position:absolute;left:5px;bottom:24px;width:238px;height:25px}
#dk{text-align:center;line-height:25px;font-size:14px;overflow:hidden; z-index:18}
#dk a{color:#fff}
.db {z-index:8;filter:alpha(opacity=60);opacity:0.6;background:#000}
.lw h5 {font-size:12px;background:#F3F3F3;height:28px;line-height:28px;text-indent:9px}
.lw ul{margin:5px 5px 5px 20px}
.lw ul li {overflow:hidden; line-height:22px;height:22px}
.l3 li{background-position:0 12px;padding:0 15px}
.l_t {height:70px;padding:6px 9px}
.l_t dl {width:250px;padding-bottom:5px;overflow:hidden;border-bottom:#2a6cc2 1px dashed}
.l_t dt{width:70px}
.l_t dd {margin-left:9px; width:170px}
.l_t dd span {margin:0px;height:22px;line-height:22px;overflow:hidden;color:#666}
.c{width:480px;font-size:14px;margin:3px 9px;}
.v{height:100%;margin:9px auto}
.cs {height:30px;padding:12px;background-position:0 -140px;border-bottom:1px #ccc solid;border-radius:5px;margin-bottom:9px}
#csc{background:url(http://weigeti.com/p0/slb.jpg) no-repeat;position:relative;height:24px;padding-top:2px;width:290px;}
.cs input{margin:0 3px}
.sk{width:251px;height:22px;font-size:12px;padding:0 3px;border:none;background:none;color:#bbb}
.cs select{margin:0 5px;line-height:25px;height:25px;border:#CECECE 1px solid;font-size:12px}
.cscr{width:20px;height:20px;border:none;background:none;cursor:pointer}
#csc div{display:none;width:409px;font-size:12px;position:absolute;z-index:9;left:0;top:0;border-bottom:#ccc 1px solid;border-left:#ccc 1px solid;color:#666;}
#csc h5{padding-left:9px;line-height:28px;font-size:12px;border-right:#ccc 1px solid;border-top:#ccc 1px solid;background:#fff;width:288px;height:28px;position:relative}
#csc h5 a{position:absolute;right:5px;padding:0 3px;}
#csc table{border-right:#ccc 1px solid;padding:0 0 9px 15px;background:#fff;width:100%}
#csc th{text-align:left;line-height:28px;background:#DFEDFE}
#csc th a{padding:0 5px}
#csc td{cursor:pointer;padding:5px;width:19%}
#csc td a{display:inline-block;width:100%;height:100%;color:#666;text-decoration:none}
.cs .q{background:url(http://weigeti.com/p0/ss.png) no-repeat;}
.ss{background:none;height:24px;width:59px; border:none;cursor:pointer;font-family:arial;font-size:12px}

.cw{margin:0 0 9px;border-top:none;padding-bottom:5px;}
.cw h2{font-size:12px; background-position:0 -230px;height:28px;line-height:28px;overflow:hidden;}
.c .ch{padding:0px 14px;height:28px;line-height:20px;width:28px;background-position:0 -200px;background-repeat:no-repeat;color:#fff;text-decoration:none}
.r {width: 190px;padding:0 0 9px 18px;}
.r h5{font-size:12px;overflow: hidden; border-bottom:#ddd 2px solid; height:26px;line-height:26px;margin-bottom:3px}
.rw{margin:9px 0; overflow: hidden}
.r li {overflow:hidden;line-height:24px; }
.rt ul{padding:5px 0;}
.iu2 li{ background-position:0 -89px}
.iu8 li{ background-position:0 -389px}
.iu9 li{ background-position:0 -439px}
#ar1 {width: 207px;border: #ddd 1px solid}
#ar1 ul{ padding:5px 15px;}
#ar1 li {padding:0px 12px;  background-position:0 -140px;  overflow: hidden; line-height: 20px; height: 20px;}
.r_t {border-bottom:#296cbd 1px dashed;margin:9px 0px;}
.r_t  dl{overflow: hidden;width:200px}
.r_t  dt img { width:70px; height:70px}
.r_t  dd { margin:0px 5px 8px;width: 116px;}
.r_t  dd span {overflow: hidden; color: #666666; line-height: 18px;}.ri {margin-top:9px;overflow: hidden;}
.ri {margin-top:10px;overflow: hidden;height:150px}
.ri img{width:180px}
#ari img{width:180px;height:150px;margin:3px 0}
#ab{text-align:center;margin:9px 0}
.b {margin:9px 0;text-align:center;color:#666}
.bt a {margin:0px 14px}
.b p {line-height:30px}
#z{display:none;width:100%;height:100%;position:absolute;top:0;left:0;filter:progid:DXImageTransform.Microsoft.Alpha(style=3,opacity=25,finishOpacity=75);opacity:0.5;z-index:8;background:#ccc;}