.article-submit-input{font-size:14px;margin:9px 0;padding:3px 9px; height:22px}
.s-title{width:500px;}
.s-summary{width:500px;height:100px}
.article-sort{width:100px;font-size:20px;padding:3px 9px;}
.article-readers{width:25px;text-align:center;}
.video-unique{display:none}
