BODY{
  margin: 0px;
  height: 100%;
  width: 100%;
}

A.small{
  font-weight: normal;
  color: #0000CC;
  line-height: 20px;
}

UL{
  padding: 0px;
  margin-top: 2px;
  margin-left: 16px;
  margin-bottom: 0px;
}

LI{
  padding-left: 0px;
  padding-top: 2px;
  padding-bottom: 0px;
  margin: 0px;
}

#Wheel{
	position: absolute;
	height: 370px;
	width: 424px;
	left: 244px;
	text-align: center;
	border-right-width: 1px;
	border-right-style: none;
	border-right-color: #CCCCCC;
	top: 10px;
}

#Header{
  position: relative;
  color: #000000;
  border-top: 1px solid #FFFFFF;
  border-bottom: 1px solid #AAAAAA;
  border-left: 1px solid #FFFFFF;
  background-color: #F4F4F2;
  background: url('topbg.gif');; font-style:normal; font-variant:normal; font-weight:normal; font-size:23px; font-family:tahoma, arial, helvetica; padding-left:12px; padding-right:12px; padding-top:6px; padding-bottom:6px
}

#ColorInput{
	position: relative;
	height: 500px;
	width: 140px;
	font: 13px verdana,arial,helvetica;
	color: #444444;
	font-weight: bold;
	text-align: left;
	background-color: #F4F4F2;
	border-right: 1px #AAAAAF solid;
	left: -307px;
}

#V3{
  position: absolute;
  width: 166px;
  left: 610px;
  top: 240px; /* 208 */
  font: 11px arial,helvetica;
  color: #444444;
  /*background-color: #F4F4F2;
  border: 1px #AAAAAF solid;*/
}

#rightBox{
  position: absolute;
  width: 166px;
  left: 610px;
  top: 70px; /* 208 */
  font: 11px arial,helvetica;
  color: #444444;
  /*background-color: #F4F4F2;
  border: 1px #AAAAAF solid;*/
}

#forumsBox{
  position: absolute;
  width: 166px;
  left: 610px;
  top: 370px; /* 401 */
  font: 11px arial,helvetica;
  color: #444444;
  /*background-color: #F4F4F2;
  border: 1px #AAAAAF solid;*/
}

#listBox{
  position: absolute;
  width: 166px;
  left: 610px;
  top: 80px; /* 80 */
  font: 11px verdana,arial,helvetica;
  color: #444444;
  background-color: #F4F4F2;
  border: 1px #AAAAAF solid;
}

.rightText{
  color: #666666;
  font: 11px tahoma,arial,helvetica;
  padding: 6px;
}

#palette{
  position: absolute;
  top: 400px;
  left: 230px;
}

.navBox{
  width: auto;
  height: auto;
  padding-top: 8px;
  border-right: 1px #E6E6E6 solid;
  border-bottom: 1px #E6E6E6 solid;
  background-color: #FCFCFA;
}

#currentColor{
	border: 1px solid;
	height: 90px;
	width: auto;
  cursor: pointer;cursor: hand;
  background-color:#FFFFFF;
}

.headSmall{
  color: #666666;
  font: 11px tahoma,arial,helvetica;
  margin-top: 2px;
}

.sideHead{
	width: auto;
	color: #777777;
	font-weight: bold;
	text-align: center;
	border-top: 1px #FFFFFF solid;
	border-bottom: 1px #AAAAAF solid;
	background-color: #E8E8E6;
	font-family: "ו";
	font-size: 12px;
	line-height: 25px;
}

.rgbBox{
	width: 30px;
  color: #444444;
  font: 13px tahoma,arial,helvetica;
  text-align: center;
}

.hexBox{
	width: 54px;
  color: #444444;
  font: 13px tahoma,arial,helvetica;
  text-align: center;
}

.button{
	color: #333333;
	height: 23px;
	width: 90px;
	margin-top: 4px;
	margin-bottom: 10px;
	font-family: "ו";
	font-size: 12px;
}

.currentBorder{
	border: 1px solid;
  height: auto;
	width: auto;
  border-left-color: #9D9DA1;
	border-top-color: #9D9DA1;
	border-right-color: #FFFFFF;
	border-bottom-color: #FFFFFF;
  margin: 10px;
}

#swatch0{
	position: absolute;
	left: 0px;
  top: 0px;
}

#swatch1{
	position: absolute;
	left: 100px;
  top: 0px;
}

#swatch2{
	position: absolute;
	left: 200px;
  top: 0px;
}

#swatch3{
	position: absolute;
	left: 300px;
  top: 0px;
}

#swatch4{
	position: absolute;
	left: 300px;
  top: 90px;
}

#swatch5{
	position: absolute;
	left: 300px;
  top: 180px;
}

#swatch6{
	position: absolute;
	left: 300px;
  top: 270px;
}

#swatch7{
	position: absolute;
	left: 200px;
  top: 270px;
}

#swatch8{
	position: absolute;
	left: 100px;
  top: 270px;
}

#swatch9{
	position: absolute;
	left: 0px;
  top: 270px;
}

#swatch10{
	position: absolute;
	left: 0px;
  top: 180px;
}

#swatch11{
	position: absolute;
	left: 0px;
  top: 90px;
}

#swatchm1{
	position: absolute;
	left: 100px;
  top: 90px;
}

#swatchm2{
	position: absolute;
	left: 200px;
  top: 90px;
}

#swatchm3{
	position: absolute;
	left: 200px;
  top: 180px;
}

#swatchm4{
	position: absolute;
	left: 100px;
  top: 180px;
}

.swatch{
	padding: 10px;
	width: 90px;
	text-align: center;
}

.color{
	border: 1px solid;
	height: 54px;
	width: 70px;
  cursor: pointer;cursor: hand;
  background-color:#FFFFFF;
}

.border{
	border: 1px solid;
  height: 56px;
	width: 72px;
  margin-left: auto;
  margin-right: auto;
  border-left-color: #9D9DA1;
	border-top-color: #9D9DA1;
	border-right-color: #FFFFFF;
	border-bottom-color: #FFFFFF;
}

.rgb{
	font: 11px tahoma,arial,helvetica;
}

.hex{
	font: 11px tahoma,arial,helvetica;
}
#width760{
	position: relative;
	height: 500px;
	width: 758px;
	border: 1px solid #AAAAAF;
}
