body { margin:0; }
body,td {
	background:white;
	font-family: "ו";
	font-size: 12px;
	line-height: 120%;
}

.lineup { padding-top:1ex; border-top:1px solid silver; }
.center { text-align:center; }
.right { text-align:right; }
.small { font-size:99%; }
.odstup { padding-top:1em; }

p { margin:1ex 0; }
h4 { margin:1ex 0; text-align:center; font-size:1em; font-weight:bold; }
input, button, select { font-size:12px; text-align:center; vertical-align:middle; }
button { padding:2px 1ex; }
form { margin:0; }

#hsvtable { width:100%; }
#hsvtable td { padding:0; margin:0; text-align:center; white-space:nowrap; }

#image { position:absolute; left:20px; top:20px; }

#maincolorsample { height:25px; margin:0.5ex 15% 1ex 15%; }
#colform { position:absolute; left:20px; top:260px; width:230px; padding:0; }

#colscheme { position:absolute; left:300px; top:10px; width:450px; display:none; }
#colsample { position:absolute; left:300px; top:80px; width:450px; display:none; }
#help { position:absolute; left:300px; top:80px; width:450px; height:300px; display:none; white-space:auto; }

#color0  { position:absolute; left:0; top:0; width:450px; height:80px; }
#color1  { position:absolute; left:0; top:80px; width:450px; height:50px; }
#color2  { position:absolute; left:0; top:130px; width:450px; height:50px; }
#color3  { position:absolute; left:0; top:180px; width:450px; height:50px; }

#color1v { position:absolute; left:100px; top:30px; width:50px; height:190px; }
#color0v { position:absolute; left:170px; top:30px; width:50px; height:190px; }
#color2v { position:absolute; left:250px; top:30px; width:50px; height:190px; }
#color3v { position:absolute; left:320px; top:30px; width:50px; height:190px; }

#colorBW { position:absolute; left:50px; top:50px; width:350px; height:150px;
	border-top:1px solid white; border-left:5px solid white;
	border-bottom:1px solid black; border-right:5px solid black; }

#textBlack  {
	position:absolute;
	left:45px;
	top:10px;
	width:400px;
	color:black;
	text-align:left;
	font-size:14px;
	line-height: 20px;
}
#textWhite  {
	position:absolute;
	left:5px;
	top:10px;
	width:400px;
	color:white;
	text-align:right;
	font-size:14px;
	line-height: 20px;
}


#coltablecover { position:absolute; left:300px; top:320px; width:450px; }
#coltable { width:100%; margin:0; padding:0; }
#coltable td { margin:2px; padding:1em 0.5ex 0.5ex 1em; font-size:9px; text-align:right; vertical-align:bottom; }
#coltable td.main { border-right:1em solid white; }

#midarea, #topmover, #bottommover { cursor:nw-resize; }
#pointer0, #pointer1, #pointer2, #pointer3 { display:none;
	position:absolute; width:2px; height:2px; font-size:1px; background:#999999; }
#pointer0 { background:black; }
#pointerTop, #pointerBottom  { display:none;
	position:absolute; width:5px; height:1px; font-size:1px; background:#999999; }
#width760 {
	width:760px;
	height:480px;
	position: relative;
}
